<div class="modal-header">
	<h3 class="modal-title">Modificar perfil</h3>
</div>
<div class="modal-body">
	<script type="text/ng-template" id="countryTemplate.html">
		<a>
			<img ng-src="img/flags/16/{{match.model.code}}.png" width="16">
			<span bind-html-unsafe="match.model.name | typeaheadHighlight:query"></span>
		</a>
	</script>

	<form class="form-horizontal" name="updateProfileForm" autocomplete="off" novalidate>
		<div class="form-group">
			<label for="profileName" class="col-lg-3 control-label">Nombre</label>

			<div class="col-lg-9">
				<input class="form-control"
						 type="text"
						 id="profileName"
						 name="name"
						 ng-model="profile.name" required/>

				<div ng-messages="updateProfileForm.name.$error">
					<label for="profileName" ng-message="required" class="error">Obligatorio</label>
				</div>
			</div>

		</div>

		<div class="form-group">
			<label for="profileAvatar" class="col-lg-3 control-label">Imagen</label>

			<div class="col-lg-9">
				<div ng-file-drop ng-model="files" class="drop-box"
					  drag-over-class="dragover" multiple="false"
					  allow-dir="true" accept="image/*,application/pdf">
					Drop Images or PDFs files here
				</div>
				<div ng-messages="updateProfileForm.avatar.$error">
					<label for="profileAvatar" ng-message="required" class="error">Obligatorio</label>
				</div>

			</div>
		</div>

		<div class="form-group">
			<label for="profileCountry" class="col-lg-3 control-label">Country</label>

			<div class="col-lg-9">
				<div class="input-group">
					<input type="text" id="profileCountry" name="country"
							 typeahead="country as country.name for country in countries | filter:{name:$viewValue} | limitTo: 10"
							 typeahead-editable="false"
							 typeahead-template-url="countryTemplate.html"
							 ng-model="profile.country"
							 class="form-control">

					<span class="input-group-addon"><img ng-src="/img/flags/16/{{profile.country.code}}.png" width="16" height="16" alt=""/>&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</div>

				<div ng-messages="updateProfileForm.country.$error">
					<label for="profileCountry" ng-message="required" class="error">Obligatorio</label>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary btn-lg" ng-disabled="updateProfileForm.$invalid" ng-click="update()">Actualizar
	</button>
	<button class="btn btn-warning btn-lg" ng-click="cancel()">Cancelar</button>
</div>
