<div class="modal-header">
	<h3 class="modal-title">Select one of your agents</h3>
</div>
<div class="modal-body">
	<script type="text/ng-template" id="agentTemplate.html">
		<a>
			<span bind-html-unsafe="match.model.name"></span>
		</a>
	</script>

	<form class="form-horizontal" name="tournamentJoinForm" autocomplete="false" ng-submit="join($event)" novalidate>

		<div class="form-group">
			<label for="agent" class="col-lg-3 control-label">Agent</label>

			<div class="col-lg-9">
				<div class="input-group">
					<input type="text" id="agent" name="country"
							 typeahead="agent as agent.name for agent in searchAgent($viewValue)"
							 typeahead-editable="false"
							 typeahead-template-url="agentTemplate.html"
							 ng-model="selectedAgent"
							 required
							 autocomplete="off"
							 class="form-control">

					<span class="input-group-addon" ng-style="{'background-color': selectedAgent.color}">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer" style="text-align: right">
	<button class="btn btn-sm " ng-click="cancel($event)"  style="color: #C3BCBC;">Cancel</button>
	<button class="btn btn-sm " ng-disabled="tournamentJoinForm.$invalid" ng-click="join($event)" style="border: 1px solid #353B6F;">Join</button>
</div>
