<div class="modal-header">
	<h3 class="modal-title">Login required</h3>
</div>
<div class="modal-body">
	Join now JSWARS to get:
	<br>
	<ul class="lists-star">
		<li>Create unlimited agents</li>
		<li>Request unlimited battles</li>
		<li>Join tournaments</li>
		<li>Much more</li>
	</ul>
	Only thing you need is a <i class="fa fa-github"></i> GitHub account.
</div>
<div class="modal-footer" style="text-align: right">
	<button class="btn btn-sm" type="button" ng-click="cancel()" style="color: #C3BCBC;">Not now</button>
	<button class="btn btn-sm" type="button" ng-click="login($event)" style="border: 1px solid #353B6F;"><i
		class="fa fa-github"></i> Sign In
	</button>
</div>
