<br/>
<div class="container">
	<div class="row" ng-if="battle">
		<div class="col-md-8 p-0">
			<div game battle="battle" start="start" next="next" pause="pause" on-start="onStart" on-frame="onFrame"></div>
		</div>
		<div class="col-md-4" style="padding-right: 0px">
			<div class=" tile text-center">
				<h2 class="tile-title">Replay controls</h2>

				<div class="p-10">
					<button class="btn btn-primary" ng-click="next(-10)"><i class="fa fa-backward"></i></button>
					<button class="btn btn-primary" ng-click="next(-1)"><i class="fa fa-step-backward"></i></button>
					<button class="btn btn-warning" ng-click="pause()"><i class="fa fa-pause"></i></button>
					&nbsp;&nbsp;{{currentTime | date : 'ss:sss'}} / <strong>{{totalTime | date : 'ss:sss'}}</strong>&nbsp;&nbsp;
					<button class="btn btn-primary" ng-click="start()"><i class="fa fa-play"></i></button>
					<button class="btn btn-primary" ng-click="next(1)"><i class="fa fa-step-forward"></i></button>
					<button class="btn btn-primary" ng-click="next(10)"><i class="fa fa-forward"></i></button>
				</div>
			</div>
			<div ng-repeat="team in battle.teams" class="tile">
				<div class="tile-title row" ng-style="{'border-bottom': '3px solid ' + team.color}">
					<div class="col-xs-4">
						<a title="{{user.username}}" ui-sref="user.overall({username:team.user.username})"><img class="profile-pic"
																																	  ng-src="{{team.user.avatar || '/img/avatars/default.png'}}"></a>
					</div>
					<div class="col-xs-8">
						<h3>{{team.user.username}} </h3>
						<h4>{{team.name}}</h4>

						<div class="progress active" style="height: 20px;">
							<div class="progress-bar " role="progressbar"
								  ng-style="{'background-color':team.color,'width': team.health + '%'}">
							</div>

						</div>
					</div>
				</div>
				<div class="units">
					<span class="unit" ng-class="{die:!unit.alive}" ng-repeat="unit in team.units" ng-style="{'padding-top': 45-(45/100*unit.health) + 'px'}">
					</span>
				</div>
			</div>
			<a class="btn btn-block btn-largue btn-alt" style="background-color:rgb(75, 58, 35)!important;border: 2px solid white !important;
" ng-href="/api/battle/{{battleId}}/dump/" target="-_blank"><span class="icon"></span> Download battle file</a>
		</div>
	</div>
</div>
<br/>
