<section class="container">
	<div class="block-area">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default tile">
					<div class="panel-heading">
						<h2 class="panel-title">Information</h2>
					</div>

					<div class="panel-body">
						<p>
							Our platform only uses Google Analytics cookies apart from techcnical cookies. Here you can
							find the information about each cookie sense.
						</p>
					</div>
				</div>


				<div class="panel panel-default tile">
					<div class="panel-heading">
						<h2 class="panel-title">Google Analytics</h2>
					</div>

					<div class="panel-body">

						<p>Google Analytics sets first party cookies via a piece of JavaScript code which must be added to
							every page that site owners want to track. It sets four cookies automatically, and a fifth via
							opt-in (this relates to sharing information about your traffic with Google).</p>

						<p>Globally and in the European Union member states Google sets the following cookies:</p>

						<strong>__utma Cookie</strong>

						<p>A persistent cookie - remains on a computer, unless it expires or the cookie cache is cleared. It
							tracks visitors. Metrics associated with the Google __utma cookie include: first visit (unique
							visit), last visit (returning visit). This also includes Days and Visits to purchase calculations
							which afford ecommerce websites with data intelligence around purchasing sales funnels.</p>

						<strong>__utmb Cookie & __utmc Cookie</strong>

						<p>These cookies work in tandem to calculate visit length. Google __utmb cookie demarks the exact
							arrival time, then Google __utmc registers the precise exit time of the user.</p>

						<p>Because __utmb counts entrance visits, it is a session cookie, and expires at the end of the
							session, e.g. when the user leaves the page. A timestamp of 30 minutes must pass before Google
							cookie __utmc expires. Given__utmc cannot tell if a browser or website session ends. Therefore, if
							no new page view is recorded in 30 minutes the cookie is expired.</p>

						<p>This is a standard 'grace period' in web analytics. Ominture and WebTrends among many others follow
							the same procedure.</p>

						<strong>__utmz Cookie</strong>

						<p>Cookie __utmz monitors the HTTP Referrer and notes where a visitor arrived from, with the referrer
							siloed into type (Search engine (organic or cpc), direct, social and unaccounted). From the HTTP
							Referrer the __utmz Cookie also registers, what keyword generated the visit plus geolocation
							data.</p>

						<p>This cookie lasts six months. In tracking terms this Cookie is perhaps the most important as it
							will tell you about your traffic and help with conversion information such as what source / medium
							/ keyword to attribute for a Goal Conversion.</p>

						<strong>__utmv Cookie</strong>

						<p>Google __utmv Cookie lasts "forever". It is a persistant cookie. It is used for segmentation, data
							experimentation and the __utmv works hand in hand with the __utmz cookie to improve cookie
							targeting capabilities.</p>

					</div>
				</div>
				.
			</div>
		</div>

	</div>
	</div>
</section>
