<div class="statContainer">


	<a class="nounderline" href="javascript:alert('Portfolio Link here!');" title="Web Development Services">
		<div class="statBubbleContainer">
			<div class="statBubble ">
				<div class="statNum">
					40
				</div>
			</div>
			<h3>Websites Launched</h3>

			<div class="statRedirect"><span data-title="portfolio &rarr;">portfolio &rarr;</span></div>
		</div>
	</a>


	<a class="nounderline" href="javascript:alert('Meet the team Link here!');" title="Meet our developers">
		<div class="statBubbleContainer">
			<div class="statBubble ">
				<div class="statNum">
					9
				</div>
			</div>
			<h3>Team Members</h3>

			<div class="statRedirect"><span data-title="meet us &rarr;">meet us &rarr;</span></div>
		</div>
	</a>

	<a class="nounderline" href="javascript:alert('Services Page Here');" title="Learn about our services">
		<div class="statBubbleContainer">
			<div class="statBubble ">
				<div class="statNum">
					#1
				</div>
			</div>
			<h3>Top SEO Rank</h3>

			<div class="statRedirect"><span data-title="services &rarr;">services &rarr;</span></div>
		</div>
	</a>

	<a class="nounderline" href="javascript:alert('Social Media Page Here');" title="Get Connected with Social Eyes!">
		<div class="statBubbleContainer">
			<div class="statBubble ">
				<div class="statNum">
					3,443
				</div>
			</div>
			<h3>Facebook Likes</h3>

			<div class="statRedirect"><span data-title="social media &rarr;">social media &rarr;</span></div>
		</div>
	</a>

</div>

<p class="line-1 anim-typewriter">Animation typewriter style using css steps()</p>
