<div class="container">
	<div class="block-area">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2 class="block-title">Last Battles:</h2>

				<div class="tile">

					<table class="table table-bordered tile">
						<thead>
						<tr>
							<th>Name</th>
							<th class="text-right">Run date</th>
							<th class="text-right">Duration</th>
							<!--<th class="text-right">Map</th>-->
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="battle in battles.docs">
							<td>

								<a ng-href="#/battle/{{battle._id}}">
									<strong>{{battle.agents[0].name}}</strong> vs <strong>{{battle.agents[0].name}}</strong></a></td>
							<td><span am-time-ago="battle.moment"
										 tooltip="{{battle.moment | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}"></span></td>
							<td>{{battle.duration.toFixed(0) || 0}} seconds</td>
							<!--<td>{{battle.map.name}}</td>-->
						</tr>
						<tr ng-if="battles === undefined || battles.length === 0">
							<td colspan="4" class="text-center">No battles registered</td>
						</tr>
						</tbody>
					</table>

					<pagination total-items="battles.total" ng-model="page" num-pages="battles.pages"
									ng-change="pageChanged()"></pagination>


				</div>
			</div>
		</div>
	</div>
</div>
