<div class="container">
	<div class="block-area">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2 class="block-title">Last Battles:</h2>

				<div class="tile">

					<table class="table table-bordered tile">
						<thead>
						<tr>
							<th style="width:60%"><span class="icon"></span></th>
							<th style="width:20%"><span class="icon"></span> Time ago</th>
							<th style="width:20%"><span class="icon"></span> Duration</th>
							<!--<th class="text-right">Map</th>-->
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="battle in battles.docs">
							<td style="width:60%">
								<a ng-href="#/battle/{{battle._id}}">
									<table style="width:100%">
										<tbody>
										<tr>
											<td class="text-center" style="border-bottom: 2px solid black; padding-bottom: 5px"
												 ng-style="{'border-bottom-color': battle.agents[0].color}">
												<strong
													tooltip="By: {{battle.agents[0].user.username}}">{{battle.agents[0].name}}</strong>
											</td>
											<td class="text-center">vs</td>
											<td class="text-center" style="border-bottom: 2px solid black; padding-bottom: 5px"
												 ng-style="{'border-bottom-color': battle.agents[1].color}">
												<strong
													tooltip="By: {{battle.agents[1].user.username}}">{{battle.agents[1].name}}</strong>
											</td>
										</tr>
										</tbody>
									</table>
								</a>
							</td>
							<td style="width:20%"><span am-time-ago="battle.moment"
										 tooltip="{{battle.moment | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}"></span></td>
							<td style="width:20%">{{battle.duration.toFixed(0) || 0}} seconds</td>
							<!--<td>{{battle.map.name}}</td>-->
						</tr>
						<tr ng-if="battles === undefined || battles.length === 0">
							<td colspan="4" class="text-center">No battles registered</td>
						</tr>
						</tbody>
					</table>

				</div>
				<p class="text-center">
					<pagination total-items="battles.total" ng-model="page" num-pages="battles.pages"
									ng-change="pageChanged()" max-size="5"></pagination>

				</p>
			</div>
		</div>
	</div>
</div>
