<div class="tile-dark-medium">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="jumbotron">
                    <div class="container">
                        <h2>Sign up for free!</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa dolorum fugit.
                        </p>
                        <ul>
                            <li>Create, train and share your agente resutls</li>
                            <li>Get 10 batch training sessions per day</li>
                            <li>Fun with flags!</li>
                        </ul>
                        <p><a class="btn btn-register btn-lg" href="#/register/">Sign up now!</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="login-tile">
                <h1 class="block-title"><span class="icon"></span> Sign In</h1>

                <div class="tile">
                    <form role="form" class="g p-15">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                                   placeholder="Enter email">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control input-sm" id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-sm m-t-10">Login</button>
                        </div>

                    </form>


                </div>


            </div>
        </div>
    </div>
</div>