<div class="prospect">
	<div class="jumbotron hidden-xs">
		<div class="container">
			<h1>Welcome to JSWARS</h1>

			<p>Do you know artificial intelligence? Create your JavaScript intelligent agents and fight against your
				friends. Do you want to start winning?</p>

			<p class="text-center"><a class="btn btn-alt btn-lg" ng-click="ghLogin($event)">Yes, now!</a></p>
		</div>
	</div>
	<div class="dumbotron visible-xs">
		<div class="container">
			<h2>Welcome to JSWARS</h2>

			<p class="text-center"><a class="btn btn-alt" ng-click="ghLogin($event)">Start now</a></p>
		</div>
	</div>
	<video autoplay loop poster="/video/For_Wes.jpg" id="bgvid" width="100%">
		<source src="/video/For_Wes.webm" type="video/webm">
		<source src="/video/For_Wes.mp4" type="video/mp4">
	</video>
</div>
