<!-- Profile -->
<div class="text-center s-widget p-15" id="profile-menu">
    <a href="" data-toggle="dropdown">
        <img class="profile-pic animated" ng-src="{{user.avatar}}" alt="">
    </a>
    <ul class="dropdown-menu profile-menu">
        <li><a href="">My Profile</a> <i class="icon left"></i><i class="icon right"></i></li>
        <li><a href="">Messages</a> <i class="icon left"></i><i class="icon right"></i></li>
        <li><a href="">Settings</a> <i class="icon left"></i><i class="icon right"></i></li>
        <li><a href="">Sign Out</a> <i class="icon left"></i><i class="icon right"></i></li>
    </ul>
    <h4 class="m-0">{{user.name}}</h4>
    @{{user.username}}
</div>

<div class="clearfix"></div>
<hr class="whiter">
<div class="container">
    <div class="row">
        <div class="col-md-9 p-15">


        </div>
        <div class="col-md-3 p-15">

            <div class="tile">
                <h2 class="tile-title">About</h2>


                <div class="tile-config dropdown">
                    <a data-toggle="dropdown" href="" class="tooltips tile-icon-menu" title=""
                       data-original-title="Options"> <span class="icon"></span></a>
                    <ul class="dropdown-menu pull-right text-right">
                        <li><a href="">Edit</a></li>
                        <li><a href="">Delete</a></li>
                    </ul>
                </div>

                <div class="listview icon-list">

                    <div class="media">
                        <span class="icon pull-left"></span>

                        <div class="media-body">
                            <span class="label label-inherit" ng-class="{'label-success': user.online, 'label-error' : !user.online}"><strong>Online</strong></span>
                        </div>
                    </div>


                    <div class="media">
                        <i class="icon pull-left"></i>

                        <div class="media-body">
                            <strong>Ranking</strong>
                            <span>{{user.ranking}}</span>
                        </div>
                    </div>


                    <div class="media">
                        <span class="icon pull-left"></span>

                        <div class="media-body"> <strong>Lives in </strong>
                            <a ng-href="#/country/{{user.country}}">
                                <img ng-src="/img/flags/16/{{user.country}}.png"
                                     alt="{{user.country | CountryFilter}}"/> {{user.country | CountryFilter}}</a>
                        </div>
                    </div>

                    <div class="media">
                        <span class="icon pull-left"></span>

                        <div class="media-body">
                            <strong>User since</strong>
                            {{user.created | date: 'MMM d, y' }}
                        </div>
                    </div>

                </div>
            </div>


            <div class="tile">
                <h2 class="tile-title">Recent Activities</h2>

                <div class="tile-config dropdown">
                    <a data-toggle="dropdown" href="" class="tooltips tile-menu" title=""
                       data-original-title="Options"></a>
                    <ul class="dropdown-menu pull-right text-right">
                        <li><a href="">Edit</a></li>
                        <li><a href="">Delete</a></li>
                    </ul>
                </div>

                <div class="listview narrow">
                    <div class="media" ng-repeat="activityItem in activity">
                        <!--<div class="pull-right">
                            <img width="37" src="img/profile-pics/1.jpg" alt="">
                        </div>-->
                        <div class="media-body">
                            {{activityItem.object}} {{activityItem.action}} over {{activityItem.id}}

                            <div class="clearfix"></div>
                            <small class="muted"><span from-now="{{activityItem.moment}}"></span></small>
                        </div>
                    </div>
                    <div class="media p-5 text-center l-100">
                        <a href="">
                            <small>VIEW ALL</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>