<!-- Profile -->

<div class="container">
    <div class="tile-light m-b-15">
        <div class="cover p-relative">
            <img src="img/cover-bg.jpg" class="w-100" alt="">

            <img class="profile-pic img-thumbnail" ng-src="{{user.avatar}}" alt="">

            <div class="profile-btn">
                <button class="btn btn-alt btn-sm"><i class="icon-bubble"></i> <span>Message</span></button>
                <button class="btn btn-alt btn-sm"><i class="icon-user-2"></i> <span>Friend</span></button>
            </div>
        </div>
    </div>
</div>



<div class="tile-dark-medium text-center p-15">
    <h4 class="m-0">{{user.name}}</h4>
    @{{user.username}}
</div>


<div class="container">
    <div class="row">
        <div class="col-md-9 p-15">


            <!--<div class="">
                <h3 class="block-title">Ratios</h3>

                <div class="tile text-center">
                    <div class="tile-dark p-10">
                        <div class="pie-chart-tiny" easypiechart percent="86">
                            <span class="percent">{{86}}</span>
                            <span class="pie-title">Win/Loose Ratio</span>
                        </div>
                        <div class="pie-chart-tiny" easypiechart percent="40">
                            <span class="percent">{{40}}</span>
                            <span class="pie-title">Win/Agent Ratio</span>
                        </div>
                    </div>
                </div>
            </div>
            -->

            <div class="clearfix"></div>


            <div class="panel panel-default tile">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
                <div class="panel-footer">Panel footer</div>
            </div>

        </div>
        <div class="col-md-3 p-15">

            <div class="tile">
                <h2 class="tile-title">About</h2>


                <div class="tile-config dropdown">
                    <a data-toggle="dropdown" href="" class="tooltips tile-icon-menu" title=""
                       data-original-title="Options"> <span class="icon"></span></a>
                    <ul class="dropdown-menu pull-right text-right">
                        <li><a href="">Edit</a></li>
                        <li><a href="">Delete</a></li>
                    </ul>
                </div>

                <div class="listview icon-list">

                    <div class="media">
                        <span class="icon pull-left"></span>

                        <div class="media-body">
                            <span class="label label-inherit"
                                  ng-class="{'label-success': user.online, 'label-error' : !user.online}"><strong>Online</strong></span>
                        </div>
                    </div>


                    <div class="media">
                        <i class="icon pull-left"></i>

                        <div class="media-body">
                            <strong>Ranking</strong>
                            <span>{{user.ranking}}</span>
                        </div>
                    </div>


                    <div class="media">
                        <span class="icon pull-left"></span>

                        <div class="media-body"><strong>Lives in </strong>
                            <a ng-href="#/country/{{user.country}}">
                                <img ng-src="/img/flags/16/{{user.country}}.png"
                                     alt="{{user.country | CountryFilter}}"/> {{user.country | CountryFilter}}</a>
                        </div>
                    </div>

                    <div class="media">
                        <span class="icon pull-left"></span>

                        <div class="media-body">
                            <strong>User since</strong>
                            {{user.created | date: "MM/dd/yyyy" }}
                        </div>
                    </div>

                </div>
            </div>


            <div class="tile">
                <h2 class="tile-title">Recent Activities</h2>

                <div class="tile-config dropdown">
                    <a data-toggle="dropdown" href="" class="tooltips tile-menu" title=""
                       data-original-title="Options"></a>
                    <ul class="dropdown-menu pull-right text-right">
                        <li><a href="">Edit</a></li>
                        <li><a href="">Delete</a></li>
                    </ul>
                </div>

                <div class="listview narrow">
                    <div class="media" ng-repeat="activityItem in activity">
                        <!--<div class="pull-right">
                            <img width="37" src="img/profile-pics/1.jpg" alt="">
                        </div>-->
                        <div class="media-body">
                            {{activityItem.object}} {{activityItem.action}} over {{activityItem.id}}

                            <div class="clearfix"></div>
                            <small class="muted">
                                <span am-time-ago="activityItem.moment"></span>
                        </div>
                    </div>
                    <div class="media p-5 text-center l-100">
                        <a href="">
                            <small>VIEW ALL</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>