<!-- Profile -->
<div class="text-center s-widget p-15" id="profile-menu">
    <a href="" data-toggle="dropdown">
        <img class="profile-pic animated" ng-src="{{user.avatar}}" alt="">
    </a>
    <ul class="dropdown-menu profile-menu">
        <li><a href="">My Profile</a> <i class="icon left"></i><i class="icon right"></i></li>
        <li><a href="">Messages</a> <i class="icon left"></i><i class="icon right"></i></li>
        <li><a href="">Settings</a> <i class="icon left"></i><i class="icon right"></i></li>
        <li><a href="">Sign Out</a> <i class="icon left"></i><i class="icon right"></i></li>
    </ul>
    <h4 class="m-0">{{user.name}}</h4>
    @{{user.username}}
</div>

<div class="clearfix"></div>
<hr class="whiter">
<div class="container">
    <div class="row">
        <div class="col-md-9 p-15">



        </div>
        <div class="col-md-3 p-15">

            <div class="tile">
                <h2 class="tile-title">About me</h2>
                <div class="tile-config dropdown">
                    <a data-toggle="dropdown" href="" class="tooltips tile-menu" title="" data-original-title="Options"></a>
                    <ul class="dropdown-menu pull-right text-right">
                        <li><a href="">Edit</a></li>
                        <li><a href="">Delete</a></li>
                    </ul>
                </div>

                <div class="listview icon-list">
                    <div class="media">
                        <i class="icon pull-left"></i>
                        <div class="media-body">Software Developer at Google</div>
                    </div>

                    <div class="media">
                        <i class="icon pull-left"></i>
                        <div class="media-body">Studied at Oxford University</div>
                    </div>

                    <div class="media">
                        <i class="icon pull-left"></i>
                        <div class="media-body">Lives in Saturn, Milkyway</div>
                    </div>

                    <div class="media">
                        <i class="icon pull-left"></i>
                        <div class="media-body">From Titan, Jupitor</div>
                    </div>
                </div>
            </div>


            <div class="tile">
                <h2 class="tile-title">Recent Activities</h2>

                <div class="tile-config dropdown">
                    <a data-toggle="dropdown" href="" class="tooltips tile-menu" title=""
                       data-original-title="Options"></a>
                    <ul class="dropdown-menu pull-right text-right">
                        <li><a href="">Edit</a></li>
                        <li><a href="">Delete</a></li>
                    </ul>
                </div>

                <div class="listview narrow">
                    <div class="media">
                        <div class="pull-right">
                            <img width="37" src="img/profile-pics/1.jpg" alt="">
                        </div>
                        <div class="media-body">
                            Connected with <a class="news-title underline" href="">Mitchell Christein</a>

                            <div class="clearfix"></div>
                            <small class="muted">30 Minutes ago</small>
                        </div>
                    </div>
                    <div class="media">
                        <div class="pull-right">
                            <img width="37" src="img/profile-pics/4.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <a class="news-title underline" href="">Wayne Cerolina</a> Accepted your friend request
                            <div class="clearfix"></div>
                            <small class="muted">2 Hours ago</small>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <a class="news-title" href="">Uploaded 7 files to DOCS folder</a>

                            <div class="clearfix"></div>
                            <small class="muted">3 Hours ago</small>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            Joined the Group <a class="news-title underline" href="">'90s Rock Hits'</a>

                            <div class="clearfix"></div>
                            <small class="muted">5 Hours ago</small>
                        </div>
                    </div>
                    <div class="media">
                        <div class="pull-right">
                            <img width="37" src="img/profile-pics/5.jpg" alt="">
                        </div>
                        <div class="media-body">
                            Wrote on <a class="news-title underline" href="">David Villa's</a> Wall
                            <div class="clearfix"></div>
                            <small class="muted">8 Hours ago</small>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            Signed up an Affiliate
                            <div class="clearfix"></div>
                            <small class="muted">6 Hours ago</small>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            Completed and submited the project <a class="news-title underline" href="">Joomla</a>

                            <div class="clearfix"></div>
                            <small class="muted">12 Hours ago</small>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            Travelled to <a class="news-title underline" href="">San Fransisco</a>, United States
                            <div class="clearfix"></div>
                            <small class="muted">12 Hours ago</small>
                        </div>
                    </div>
                    <div class="media">
                        <div class="pull-right">
                            <img width="37" src="img/profile-pics/6.jpg" alt="">
                        </div>
                        <div class="media-body">
                            Conneted with <a class="news-title underline" href="">Emma Stone</a>

                            <div class="clearfix"></div>
                            <small class="muted">2 Days ago</small>
                        </div>
                    </div>
                    <div class="media p-5 text-center l-100">
                        <a href="">
                            <small>VIEW ALL</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>